img 
{ 
	border: 0; 
	margin: 0px 2px 0px 2px;
}
input[type="text"] {
  flex: 1
}
input, select, textarea {
    width: 100%;
	margin-bottom: 5px;
}
pre
{
	background-color: #ffffff;
}
.forum-title
{
	font-size: 20px;
}
.header-button
{
	float: right;
}
.header-news
{
	font-weight: bold;
}
.forum-icon
{
	font-size: 15px;
	color: #5f6268;
}
.forum-smiley
{
	font-size: 20px;
	color: #cec923;
	margin-left: 2px;
	margin-right: 2px;
}
.forum-markup
{
	font-size: 20px;
	color: #5f6268;
	margin-left: 2px;
	margin-right: 2px;
}
.forum-button
{
	font-size: 35px;
	color: #5f6268;
}
.div-center
{
	text-align: center;
	padding-top: 8px;
}
.div-right
{
	text-align: right;
}
.user-avatar
{
	display: inline-block!important;
	width: 150px;
	height: 150px;
}
.div-forum-name
{
	background-color: #e8d3ff;
	color: #000000;
	font-weight: bolder;
	font-size: 40px;
}
.div-header
{
	background-color: #c6cfff;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.div-news
{
	background-color: #deecff;
	color: #000000;
	font-weight: bolder;
	font-size: 20px;
}
.div-title
{
	background-color: #c6cfff;
	color: #000000;
	padding-bottom: 5px;
	font-weight: bold;
}
.div-content
{
	background-color: #f3f8ff;
	color: #000000;
	padding-bottom: 5px;
}
.div-content-left
{
	background-color: #deecff;
	color: #000000;
}
.div-topic-options
{
	background-color: #e8d3ff;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.container
{
	margin-top: 10px;
}
.div-admin-options
{
	background-color: #e8d3ff;
	color: #000000;
}
.div-outline
{
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.div-label
{
	font-weight: bold;
}