body
{
	background-color: #f9f7f7;
	color: #112d4e;
}
img 
{ 
	border: 0; 
	margin: 0px 2px 0px 2px;
}
a:link, a:hover, a:active, a:visited
{
	color: #112d4e;
	font-weight: bold;
}
.thumbnail 
{
	width: 300px;
}
input[type="text"] {
  flex: 1
}
input, select, textarea {
    width: 100%;
	margin-bottom: 5px;
}
pre
{
	background-color: #ffffff;
	margin-top: 0px;
	white-space: pre-wrap;
}
.forum-list
{
	margin-top: -20px!important; /* compensate for the <br> after each </li> */
}
.header-button
{
	float: right;
}
.header-news
{
	font-weight: bold;
}
.forum-icon
{
	font-size: 15px;
	margin-left: 5px;
}
.forum-smiley
{
	font-size: 20px;
	color: #cec923;
	margin-left: 2px;
	margin-right: 2px;
}
.forum-markup
{
	font-size: 20px;
	color: #5f6268;
	margin-left: 2px;
	margin-right: 2px;
}
.forum-button-header
{
	font-size: 35px;
	color: #ffffff;
}
.forum-button-content
{
	font-size: 35px;
	color: #112d4e;
}
.forum-button-main
{
	font-size: 35px;
}
.div-center
{
	text-align: center;
	padding-top: 8px;
}
.div-left
{
	margin-top: 10px;
}
.div-right
{
	text-align: right;
}
.user-avatar
{
	display: inline-block!important;
}
.div-forum-name
{
	background-color: #112d4e;
	color: #ffffff;
	font-weight: bolder;
	font-size: 40px;
}
.div-header
{
	background-color: #112d4e;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.div-news
{
	background-color: #dbe2ef;
	color: #000000;
	font-weight: bolder;
	font-size: 20px;
}
.div-title
{
	background-color: #112d4e;
	color: #ffffff;
	padding-bottom: 5px;
	font-weight: bold;
}
.div-content
{
	background-color: #ffffff;
	color: #000000;
	padding-bottom: 5px;
}
.div-content-left
{
	background-color: #dbe2ef;
	color: #112d4e;
	font-weight: bold;
}
.div-topic-options
{
	background-color: #bbc7d6;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
}
.container
{
	margin-top: 10px;
}
.div-admin-options
{
	background-color: #7d9abd;
	color: #000000;
	border-top: 1px solid #ffffff;
}
.div-outline
{
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.div-welcome
{
	color: #f9f7f7;
}
.div-welcome-alias
{
	font-weight: bold;
}